/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* common styles and utilities */
body{
    font-family: 'Oswald', sans-serif;
    background-color: rgb(236, 236, 236);
}
.header-title{
    margin-left: 120px;
}

.influencer-detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* ----------item details--------- */
#section-title{
    font-size: 60px;
    font-weight: 700;
    color: royalblue;
}
.item-detail{
    margin-top: 30px;
    margin-right: 450px;
    margin-left: 220px;
    width: 540px;
    
}
.margin-bottom{
    margin-bottom: 40px;
}
.item-pic{
    margin-top: 70px;
    margin-right: 300px;
    height: 414px;
    width: 440px;
}
.button{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 8px 15px;
    border-radius: 18px;
}

/* ------Popular Products styles------ */
.popular-item{
    margin-top: 65px;
}
.products-title{
    text-align: center;
    font-size: 35px;
    font-weight: 300;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 120px;
    margin-right: 100px;
}
.product{
    background-color: white;
    border-radius: 15px;
   margin: 20px 115px;
   padding: 10px 10px;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-info{
    margin-right: 50px;
}
.flexable{
    display: flex;
}
.filled{
    color: #FFC014;
}

.half-fill{
    color: #FFC014;
}
.next-button{
    margin-left: 1570px;
    text-decoration: none;
    color: rgb(146, 56, 146);
    font-size: 22px;
    font-weight: 700;
}
 /* -------Parthner Styles------- */
.container{
    display: flex;
    margin-top: 50px;
    margin-bottom: 70px;
    margin-left: 190px;
}
.parthner-pic img{
    width: 80%;
}
.parthner-info{
    width: 50%;
    padding: 50px 50px;
    margin-right: 150px;
}
 /* -------footer styles------- */
 footer{
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 40px 10px;
     background-color: #0A0826;
     color: white;

 }
 .social-icon{
    margin: 5px 10px;
 }
 .fab{
     padding: 5px 5px;
     border-radius: 15px;
     font-size: 30px;
     color: white;
     background-color: #110f41;   
 }
  /* -----------------
        Media Query
    ---------------- */

   /* ------Mobile Device------ */
@media only screen and (max-width:688px) {
    
    .influencer-detail{
        width: 100%;
        grid-template-columns: repeat(1, 1fr)
    }
    .item-detail {
    width: 50%;
    margin-left: 40px;
    }
    .products-title{
        margin-left: 60px;
    }
    .products{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        justify-content: center;
        margin-left: 35px;
    }
    .next-button{
        margin-left: 270px;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 60px;
    }
    footer{
        width: 410px;
    }
}

/* -----------tablet device------------ */
@media only screen and ( min-width:688px ) and ( max-width:992px ) {
    .item-detail{
        margin-left: 110px;
    }
    .products-title{
    width: 500px;
    margin-left: 520px;
    }
    .products{
     grid-template-columns:repeat(2,1fr);   
     margin-left: 220px;
    }
    .next-button{
    margin-left: 550px;
    }
    .container{
    width: 1330PX;
    }
    footer{
    width: 1510px;
    }
}
  /* -------------End------------- */